/*ASI Russell Ranch*/
@import "compass/css3";

.laura-wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: justify;
}

.laura-wrapper > * {
  padding: 10px;
  flex: 1 100%;
  background-color: white;
}


.laura-footer {
  background: #f2f2f2;
}

.laura-main {
  text-align: left;
  color: white;
}
.laura-main h3 { color:#000000; }
.laura-main p { color:#000000; }

.laura-aside-1 {
  background: #b3b3b3;
  max-width: 500px;
  padding: 10px;
}

.laura-aside-1 h3 { color:#fff; }
.laura-aside-1 p { color:#fff; }

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .laura-main    { flex: 3 0px; }
   .laura-main    { order: 1; }
  .laura-aside-1 { order: 2; } 
  .laura-footer  { order: 3; }
}

#grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: #f2f2f2;
  grid-gap: 2vw;
  }

#grid > div {
  padding: .5em;
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: white;
  font-size: 2em;
  padding: 5px;
  width: 400px;
  height: 600px;
  margin-top: 10px;
  text-align: justify;
}
