/*ASI Russell Ranch*/
@import "compass/css3";

.laura-wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: justify;
}

.laura-wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.laura-footer {
  background: #f2f2f2;
}

.laura-main {
  text-align: left;
}

.laura-aside-1 {
  background: #404040;
  p color: white;
  h2 color: white;
  h3 color: white;
  max-width: 500px;
  padding: 10px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .laura-main    { flex: 3 0px; }
   .laura-main    { order: 1; }
  .laura-aside-1 { order: 2; } 
  .laura-footer  { order: 3; }
}

body {
  padding: 2em; 
}

#grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background: #f2f2f2;
  grid-gap: 2vw;
  }

#grid > div {
  padding: .5em;
  text-align: center;
}
